<div class="form-control disabled">
  <label>Person</label>
  <div class="order-info__value">{{order.person}}</div>
</div>

<div class="form-control disabled">
  <label>The title of the robbed person</label>
  <div class="order-info__value">{{order.title.name}}</div>
</div>

<div class="form-control disabled">
  <label>What we must steal</label>
  <div class="order-info__value">{{order.item.name}}</div>
</div>

<div *ngIf="order.description" class="form-control disabled">
  <label>Description of stealing object</label>
  <div class="order-info__value description">{{order.description}}</div>
</div>
