<div class="available-order" [class.loading]="loading">
  <ng-container *ngIf="(order$ | async) as order">
    <app-order-info [order]="order"></app-order-info>

    <div class="available-order__control actions">
      <button (click)="close()">Close</button>
      <button class="assign" (click)="assignToMe()">Assign to me</button>
      <button class="assign-student"  [disabled]="studentInvalid" (click)="assignToStudent()">Assign to student</button>
      <div class="student form-control">
        <label>Student: </label>
        <mat-select [(value)]="assignedStudent"
                    [disabled]="loading">
          <mat-option *ngFor="let student of students" [value]="student">
            {{student.username}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </ng-container>
</div>
