@import "src/app/styles/mixins";

.order-info {
  @include form();
  width: 687px;
  height: 610px;
  padding: 16px 32px;

  &__value {
    margin-top: 6px;

    &.description {
      height: 50px;
      border: 1px solid #fff;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 8px;
      overflow-y: auto;
    }
  }
}
