<div class="form-control disabled">
  <label>Адрес</label>
  <div class="order-info__value">{{order.address}}</div>
</div>

<div class="form-control disabled">
  <label>Титул человека</label>
  <div class="order-info__value">{{order.title.name}}</div>
</div>

<div class="form-control disabled">
  <label>Что мы должны украсть</label>
  <div class="order-info__value">{{order.item.name}}</div>
</div>

<div *ngIf="order.description" class="form-control disabled">
  <label>Описание предмета</label>
  <div class="order-info__value description">{{order.description}}</div>
</div>
