@import "src/app/styles/mixins";

.my-order {
  @include card();
  width: 1059px;
  height: 800px;
  padding: 46px 76px;

  &__form {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__actions {
    button {
      width: 100px;
      height: 35px;
    }
  }
}
