.employee-list {
  height: 600px;
  overflow-y: auto;

  &__employee {
    background: rgba(43, 43, 43, .7);
    border-radius: 10px;
    width: 880px;
    height: 80px;
    margin-bottom: 20px;

    .employee-description {
      font-size: 14px;
      padding: 20px 10px 10px 20px;
      cursor: pointer;

      * {
        position: relative;
      }

      &__id {
        left: 5px;
        width: 120px;
      }

      &__name {
        left: 140px;
        width: 165px;
      }
    }
  }
}
