<form *ngIf="form" class="pay-form"
      [formGroup]="form"
      [class.loading]="loading">
  <div class="pay-form__control price">
    <span>ИТОГО:</span>{{price}}
  </div>

  <div class="pay-form__control payment form-control">
    <label>Выберите способ оплаты:</label>
    <mat-select formControlName="payment">
      <mat-option *ngFor="let payment of payments" [value]="payment">
        {{paymentString(payment.name)}}
      </mat-option>
    </mat-select>
  </div>

  <div class="pay-form__control apply">
    <button [disabled]="form.invalid"
            (click)="apply()">Подтвердить</button>
  </div>
</form>
