
<div class="available-order">
  <form class="form-control client-order__description">
    <div class="service__type">Service type: The Burglary Job</div>
    <form class="available-order-form">
      <div class="service">Person: Abnur Tarl</div>
      <div class="service">The title of the robbed person: Yarl</div>
      <div class="service">What we must steal?   Sword of the heavens</div>
      <div class="service">Order reward:   350c</div>
      <div class="service__description">Description of stealing object</div>
      <div class="service__text">Располагается на улице вяземской, дом 13</div>

      <div class="buttons">
        <button class="cancel">Cancel</button>
        <button class="apply">Get order</button>
      </div>
    </form>
  </form>

  <router-outlet></router-outlet>
</div>
