<div class="login">
  <div class="login__header">
    Skyrim Market
  </div>

  <form class="login__form" [formGroup]="form" [class.loading]="loading">
    <div class="form-control">
      <label for="username">Username</label>

      <input id="username" type="text" formControlName="username">
    </div>

    <div class="form-control">
      <label for="password">Password</label>

      <input id="password" type="password" autocomplete formControlName="password">

      <div *ngIf="error" class="error">Incorrect login or password</div>
    </div>

    <div class="login__form__submit">
      <button (click)="submit()">Login</button>

      <div class="login__form__submit__redirect">
        <span>No account yet</span>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </form>
</div>
