<div class="login">
  <div class="login__header">
    Skyrim Market
  </div>

  <form class="login__form" [formGroup]="form" [class.loading]="loading">
    <div class="form-control">
      <label for="username">Имя пользователя</label>

      <input id="username" type="text" formControlName="username">
    </div>

    <div class="form-control">
      <label for="password">Пароль</label>

      <input id="password" type="password" autocomplete formControlName="password">

      <div *ngIf="error" class="error">Неверный логин или пароль</div>
    </div>

    <div class="login__form__submit">
      <button (click)="submit()">Вход</button>

      <div class="login__form__submit__redirect">
        <span>Ещё нет аккаунта: </span>
        <a routerLink="/register">Регистрация</a>
      </div>
    </div>
  </form>
</div>
