<div *ngIf="orders?.length" class="order-list">
  <div *ngFor="let order of orders" class="order-list__order form-control">
    <div class="order-description" (click)="openOrder(order.id)">
      <span class="order-description__name">Order: {{order.id}}</span>
      <span class="order-description__date">Date: {{order.date ?? ''}}</span>
      <span class="order-description__status">Status: {{orderStatus(order.status)}}</span>
      <div class="order-description__text">Description: {{order.description ?? ''}}</div>
    </div>
  </div>
</div>
