.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.analytic {
  margin-top: 48px;
  background: rgba(43, 43, 43, .7);
  z-index: 1;
  width: 1052px;
  height: 702px;
  padding: 46px 76px;
}
