@import "variables";

@mixin card() {
  background: rgba(43, 43, 43, .7);
  border-radius: 10px;
  z-index: 1;
}

@mixin header() {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@mixin form() {
  background: #1c1c1c;
  border-radius: 10px;
}
