@import "variables";

textarea:-webkit-autofill:disabled,
input:-webkit-autofill:disabled {
  -webkit-text-fill-color: $disabledColor;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $color;
}
