<div class="create-employee" [class.loading]="loading">
  <div class="create-employee__select-service form-control">
    <label>Выберите тип сотрудника:</label>
    <mat-select (valueChange)="onEmployeeTypeChange($event)"
                [ngModel]="employeeType"
                [disabled]="loading">
      <mat-option *ngFor="let type of employeeTypes" [value]="type.value">
        {{type.name}}
      </mat-option>
    </mat-select>
  </div>

  <form class="create-employee__form" [formGroup]="employeeForm" [class.loading]="loading">
    <div class="form-control">
      <label for="username-input">Имя пользователя</label>

      <input id="username-input" type="text" formControlName="username">
    </div>

    <div class="form-control">
      <label for="password">Пароль</label>

      <input id="password" type="password" autocomplete formControlName="password">
    </div>

    <div class="form-control">
      <label for="confirmPassword">Подтвердить пароль</label>

      <input id="confirmPassword" type="password" autocomplete formControlName="confirmPassword">
    </div>

    <ng-container [ngSwitch]="employeeType">
      <ng-template ngSwitchCase="STUDENT">
        <div class="form-control">
          <label>Ментор</label>
          <mat-select formControlName="mentor">
            <mat-option *ngFor="let employee of employees" [value]="employee">
              {{employee.username}}
            </mat-option>
          </mat-select>
        </div>
      </ng-template>
      <ng-template ngSwitchCase="EMPLOYEE">
      </ng-template>
    </ng-container>

    <div class="create-employee__actions">

      <button class="cancel" (click)="close()">Закрыть</button>

      <button class="create" id="create" [disabled]="employeeForm.invalid || loading"
              (click)="create()">Создать
      </button>
    </div>
  </form>
</div>
