<div class="pickpocketing-form">
  <div class="form-control">
    <label for="person" appRequired>Person</label>
    <input id="person" type="text">
  </div>

  <div class="form-control">
    <label for="title" appRequired>The title of the robbed person</label>
    <input id="title" type="text">
  </div>

  <div class="form-control">
    <label for="title" appRequired>What we must steal?</label>
    <input id="steal" type="text">
  </div>

  <div class="form-control">
    <label for="description">Description of stealing object</label>
    <textarea id="description"></textarea>
  </div>

  <app-order-form-footer></app-order-form-footer>
</div>
