<form *ngIf="form" class="order-form"
      [formGroup]="form"
      [class.loading]="loading">
  <div *ngIf="form.get('person')" class="form-control" [class.disabled]="form.disabled">
    <label for="person" appRequired>Person</label>
    <input id="person" type="text" formControlName="person">
  </div>

  <div *ngIf="form.get('address')" class="form-control" [class.disabled]="form.disabled">
    <label for="address" appRequired>Address</label>
    <input id="address" type="text" formControlName="address">
  </div>

  <div *ngIf="form.get('title')" class="form-control" [class.disabled]="form.disabled">
    <label appRequired>The title of the robbed person</label>
    <mat-select formControlName="title">
      <mat-option *ngFor="let title of (titles$ | async)" [value]="title">
        {{title}}
      </mat-option>
    </mat-select>
  </div>

  <div class="form-control" [class.disabled]="form.disabled">
    <label for="item" appRequired>{{itemLabel}}</label>
    <input id="item" type="text" formControlName="item">
  </div>

  <div class="form-control" [class.disabled]="form.disabled">
    <label for="description">Description of stealing object</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div class="order-form__footer" [ngSwitch]="orderStatus">
    <ng-template ngSwitchCase="CREATED">
      <button class="cancel" (click)="onCancel()">Close</button>

      <button class="create" (click)="onDeclineOrder()">Decline Order</button>
    </ng-template>

    <ng-template ngSwitchCase="NEED_CHANGES">
      <button class="cancel" (click)="onCancel()">Close</button>

      <button class="create" (click)="onDeclineOrder()">Decline Order</button>

      <button class="create" (click)="onUpdateOrder()">Apply</button>
    </ng-template>

    <ng-template ngSwitchCase="DECLINED">
    </ng-template>

    <ng-template ngSwitchCase="APPROVED">
    </ng-template>

    <ng-template ngSwitchCase="PAYED">
    </ng-template>

    <ng-template ngSwitchDefault>
      <button class="cancel" (click)="onCancel()">Cancel</button>

      <button class="create" [disabled]="form.invalid" (click)="onCreateOrder()">Create Order</button>
    </ng-template>
  </div>
</form>
