.order-form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    height: 35px;

    &.cancel {
      width: 95px;
    }

    &.create {
      width: 110px;
    }
  }
}
