@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus, {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #cccccc
  }

  input {
    font-size: 16px;
    height: 30px;
    line-height: 14px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    background: none;

    &:focus {
      outline: none;
    }
  }
}

button {
  background: #505050;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

a {
  text-decoration: none;
}

@keyframes loading {
  to {transform: rotate(360deg);}
}

.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: loading .8s linear infinite;
}
