<form class="order-form" [formGroup]="form">
  <div class="form-control" [class.disabled]="form.disabled">
    <label for="person" appRequired>Человек</label>
    <input id="person" type="text" formControlName="person">
  </div>

  <div class="form-control" [class.disabled]="form.disabled">
    <label appRequired>Титул персоны</label>
    <mat-select formControlName="title" [compareWith]="compareEntity">
      <mat-option *ngFor="let title of titles" [value]="title">
        {{title.name}}
      </mat-option>
    </mat-select>
  </div>

  <div class="form-control" [class.disabled]="form.disabled">
    <label appRequired>Предмет</label>
    <app-search-select formControlName="item" [data]="items"></app-search-select>
  </div>

  <div class="form-control" [class.disabled]="form.disabled">
    <label for="description">Описание предмета</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
</form>
