<div class="toolbar">
  <ng-container *rxSubscribe="state$ let state">
    <div class="left">
      <a [routerLink]="state.toolbar?.logoRef" class="toolbar__logo">
        Skyrim Market
      </a>

      <div class="toolbar__links">
        <a *ngFor="let link of state.toolbar?.links" [routerLink]="link.ref">
          {{link.name}}
        </a>
      </div>
    </div>

    <div class="right">
      <div class="toolbar__username" [matMenuTriggerFor]="menu">
        {{state.user?.username | username}}
      </div>

      <div class="toolbar__icon"></div>

      <mat-menu #menu>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </ng-container>
</div>
