@import "mixins";

.client-order {
  @include card();
  width: 1059px;
  height: 730px;
  padding: 46px 76px;
  display: flex;
  justify-content: space-between;

  &__form {
    &__info {
      display: flex;
      width: 400px;
      justify-content: space-between;
    }
  }

  &__pay {
    padding-top: 30px;
    width: 180px;
    height: 100%;
  }

  &__status {
    font-size: 14px;
    line-height: 16px;

    &__header {
      font-weight: 300;
    }

    &__name {
      margin-top: 11px;
      margin-left: 11px;
    }
  }

  &__select-service {
    width: 180px;
  }
}
