<div class="client-order" [class.loading]="loading">
  <div class="client-order__form" *ngIf="order">
    <div class="client-order__form__info">
      <div class="client-order__select-service form-control" [class.disabled]="formDisabled">
        <label>Select service</label>

        <mat-select (valueChange)="onOrderTypeChange($event)"
                    [ngModel]="orderType"
                    [disabled]="formDisabled">
          <mat-option *ngFor="let type of orderTypes" [value]="type.value">
            {{type.name}}
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="order?.status" class="client-order__status">
        <div class="client-order__status__header">Order status:</div>
        <div class="client-order__status__name">{{orderStatus}}</div>
      </div>
    </div>

    <app-order-form *ngIf="orderType" [orderType]="orderType"></app-order-form>
  </div>

  <div *ngIf="showPayForm" class="client-order__pay">
    <app-pay-form></app-pay-form>
  </div>
</div>
