<app-background>
  <div class="login">
    <div class="login__header">
      Skyrim Market
    </div>

    <div class="login__form">
      <div class="form-control">
        <label for="username">Username</label>

        <input id="username" type="text">
      </div>

      <div class="form-control">
        <label for="password">Password</label>

        <input id="password" type="password">
      </div>

      <div class="login__form__submit">
        <button>Login</button>

        <div class="login__form__submit__redirect">
          <a href="#">Register</a>
          <span> | </span>
          <a href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</app-background>
