<div class="register">
  <div class="register__header">
    Skyrim Market
  </div>

  <form class="register__form" [formGroup]="form" [class.loading]="loading">
    <div class="form-control">
      <label for="username">Имя пользователя</label>

      <input id="username" type="text" formControlName="username">
    </div>

    <div class="form-control">
      <label for="password">Пароль</label>

      <input id="password" type="password" autocomplete formControlName="password">
    </div>

    <div class="form-control">
      <label for="confirmPassword">Подтвердите пароль</label>

      <input id="confirmPassword" type="password" autocomplete formControlName="confirmPassword">
    </div>

    <div class="register__form__submit">
      <button (click)="submit()">Регистрация</button>

      <div class="register__form__submit__redirect">
        <span>Есть аккаунт</span>
        <a routerLink="/login">Вход</a>
      </div>
    </div>
  </form>
</div>
