<div class="form-control disabled">
  <label>Человек</label>
  <div class="order-info__value">{{order.person}}</div>
</div>

<div class="form-control disabled">
  <label>Адрес</label>
  <div class="order-info__value">{{order.address}}</div>
</div>

<div class="form-control disabled">
  <label>Что мы должны подбросить</label>
  <div class="order-info__value">{{order.item.name}}</div>
</div>

<div *ngIf="order.description" class="form-control disabled">
  <label>Описание подбрасываемого объекта</label>
  <div class="order-info__value description">{{order.description}}</div>
</div>
